*.o
*.dep
*~
\#*
.#*
linux64GccDPOpt/
linux64GccDPInt32Opt/
linux64GccDPInt32Debug/
lnInclude/
darwin*
.DS_Store
._.DS_Store
*.pdf
.idea/
build/
_static/
_templates/
.vscode/
scan_results/
scan_results_enzyme/
scan_results*
dev/biofilmFoam/job*
dev/biofilmFoam/param_scan*